# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json
!.vscode/extensions.json

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.flutter-plugins
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Android specific
/android/.gradle/
/android/local.properties
/android/gradle/
/android/app/src/main/res/values/google-services.json
!/android/gradle/wrapper/gradle-wrapper.jar

# iOS specific
/ios/.generated/
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Pods/
/ios/ServiceDefinitions.json
/ios/Runner/GeneratedPluginRegistrant.h
/ios/Runner/GeneratedPluginRegistrant.m
/ios/DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate

# Windows specific
/windows/flutter/ephemeral/
/windows/CMakeCache.txt
/windows/CMakeFiles/
/windows/CMakeLists.txt.user
/windows/all_build/
/windows/out/
/windows/x64/
/windows/build/

# macOS specific
/macos/Flutter/ephemeral/
/macos/Flutter/Generated.xcconfig
/macos/Flutter/flutter_export_environment.sh
/macos/Pods/

# Linux specific
/linux/flutter/ephemeral/

# Web specific
/web/index.html
!/web/index.html.template # if using templates

# Environment variables
.env*
!.env.example
